body {
  font-family: Helvetica;
  text-align: center;
}

#header,
#design {
  background-image: url("../images/the-flatiron-building.png");
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1,
a,
#design,
#buttom {
  color: white;
}

h1 {
  font-size: 70px;
}

a {
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

h6 {
  font-size: 11px;
  text-align: left;
}

#buttom {
  background-color: dimgray;
}

/* 474 chars, 51 lines */
